* {
    margin:0;
    padding:0;
}

html
{

  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: url("../img/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
  min-height: 100%;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: rgba(0,0,0,0.7) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.boxWrap
{
  padding: 10px;
  margin-bottom: 30px;
}

.colorBoxSmall
{
  /*border: 1px solid black;*/
  margin: 1px;
  border: none;  
  height: 32px;
  width: 32px;
}

p {
  font-size: 1.5em;
}
p.small {
  font-size: 1.5em;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18BC9C;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}


.blurBG
{
  padding-left: 20px;
  background-color: rgba(0,0,0,0.2);
}


.navbar-custom {
  background: #2d384a;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

#secondColumn{
  margin-top: 20px;
  margin-left: 20px; 
}

.extraPadding
{
  height: 100px;
}

#copyTarget
{
  background-color: transparent;
  color: white;
  border: none;
}

#copyTarget::selection
{
  background-color: transparent;
  color: white;
  border: none;
}


.colorBox {
  float: left;
  width: 25px;
  height: 25px;
  margin: 5px;
  border: 1px solid white;

}

header {
  margin-bottom: 10px;
  color: white;
}


header .intro-text .name {
  /*display: block;*/
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 700;
  font-size: 4.8em;
}
header .intro-text .skills {
  font-size: 1em;
  font-weight: 100;
}

.message
{
  
  color: #FFF;
  font-size: 1em;
}

#urlInput{
  color: #000;
  margin-bottom: 10px;
}


.contentArea
{
  /*text-align: center;*/
  padding: 10px;
  overflow-y: scroll;
  color: white;
  height: 350px;
}


.contentArea::-webkit-scrollbar {
    width: 1em;

}
 
.contentArea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}
 
.contentArea::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid white;
}


/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 1.4em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.5em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.5em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.5em;
    }
}